# Added by Payload
PAYLOAD_SECRET=8499230efeba9cdc8190039b
DATABASE_URI=mongodb://127.0.0.1/video-directory-backend

# YouTube API Key - Optional for YouTube feature testing
YOUTUBE_API_KEY=your-youtube-api-key

# Email Configuration
EMAIL_FROM_NAME=Video Directory
EMAIL_FROM=noreply@yourdomain.com
SMTP_HOST=smtp.youremailprovider.com
SMTP_PORT=587
SMTP_USER=your-email@yourdomain.com
SMTP_PASS=your-smtp-password
SMTP_SECURE=false